/* 
  1-9 copied from https://www.joshwcomeau.com/css/custom-css-reset/
*/ /*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* VARIABLES */
:root {
  --clr-gray3: hsl(0 0% 95.1%);
  --clr-gray4: hsl(0 0% 93%);
  --clr-gray5: hsl(0 0% 90.9%);
  --clr-gray9: hsl(0 0% 56.1%);
  --clr-gray10: hsl(0 0% 52.3%);
  --clr-gray11: hsl(0 0% 43.5%);
  --clr-gray12: hsl(0 0% 9%);

  --clr-slate7: hsl(207 11.1% 85.9%);
  --clr-slate8: hsl(205 10.7% 78%);
  --clr-slate9: hsl(206 6% 56.1%);
  --clr-slate10: hsl(206 5.8% 52.3%);
  --clr-slate11: hsl(206 6% 43.5%);
  --clr-slate12: hsl(206 24% 9%);

  --clr-sand8: hsl(51 6% 77.1%);
  --clr-sand11: hsl(50 2% 43.1%);

  --clr-violet4: hsl(252 91.5% 95.5%);
  --clr-violet11: hsl(250 43% 48%);

  --clr-sky6: hsl(194 74.1% 79.5%);
  --clr-sky8: hsl(193 77.9% 53.9%);

  --clr-orange7: hsl(24 100% 75.3%);
  --clr-orange8: hsl(24 94.5% 64.3%);

  --clr-orange10: hsl(24 100% 46.5%);
  --clr-orange11: hsl(24 100% 37%);

  --main-transition: all 0.1s linear;

  --light-shadow: 5px 7px 6px rgba(250, 251, 247, 0.6);
  --dark-shadow: 0 5px 20px rgba(17, 14, 14, 0.2);

  --clr-elevation: 0, 0, 0;
  --elevation1: 6.7px 6.7px 1.1px rgba(var(--clr-elevation), 0.004),
    22.6px 22.3px 3.8px rgba(var(--clr-elevation), 0.006),
    101px 100px 17px rgba(var(--clr-elevation), 0.01);
  --elevation2: 8.5px 8.5px 5.3px rgba(var(--clr-elevation), 0.008),
    24.5px 24.5px 17.9px rgba(var(--clr-elevation), 0.012),
    100px 100px 80px rgba(var(--clr-elevation), 0.02);
  --elevation3: 8.5px 8.5px 5.3px rgba(var(--clr-elevation), 0.016),
    24.5px 24.5px 17.9px rgba(var(--clr-elevation), 0.024),
    100px 100px 80px rgba(var(--clr-elevation), 0.04);

  --radius: 0.25rem;
}
body.light {
  --clr-text: var(--clr-slate12);
  --clr-bg: white;
  --clr-toggler-bg: var(--clr-sky6);
  --clr-show-text: var(--clr-gray11);
  --clr-link: var(--clr-orange10);
  --clr-link-active: var(--clr-orange11);
  --inlineCode-text: var(--clr-gray12);
  --inlineCode-bg: hsla(var(--clr-sand11), 0.7);
}
body.dark {
  --clr-text: var(--clr-gray3);
  --clr-bg: var(--clr-slate12);
  --clr-toggler-bg: black;
  --clr-show-text: var(--clr-gray4);
  --clr-link: var(--clr-orange7);
  --clr-link-active: var(--clr-orange10);
  --inlineCode-text: var(--clr-gray3);
  --inlineCode-bg: var(--clr-slate12);

  --clr-gray5: hsl(206 6% 43.5%);
  --clr-gray11: hsl(0 0% 93%);

  --clr-elevation: rgb(80, 80, 80);
  --elevation1: 6.7px 6.7px 1.1px rgba(var(--clr-elevation), 0.04),
    22.6px 22.3px 3.8px rgba(var(--clr-elevation), 0.06),
    100px 100px 17px rgba(var(--clr-elevation), 0.02);
}

html {
  /* font-size: 16px; (browser default)*/
  /* defines what 1rem is */
  /* font-size: 62.5%; */
  font-size: calc(15px + 0.25vw);
  font-style: normal;
  font-family: 'Quicksand', sans-serif;
  font-kerning: normal;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: var(--clr-bg);
  color: var(--clr-text);
  line-height: 1.5;
  font-size: 1.1rem;
  position: relative;
  font-weight: normal;
  transition: all 0.2s linear, color 0.3s ease, background-color 0.3s ease-in;
}

main {
  padding: 1vw 0 6rem 0;
  margin: 0 auto;
}

main:focus {
  outline: none;
}
.content-wrapper {
  max-height: 100%;
}

/* LISTS */
ol li,
ul li {
  margin-bottom: 0.6rem;
}

ol {
  list-style-type: decimal;
}

ul {
  padding: 0 1.1rem 1rem;
  margin-top: 0;
}

/* LINKS */
a {
  transition: color 0.2s ease;
}
a:not([class]) {
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.15s;
  color: var(--clr-link);
  border-bottom: 1px dotted var(--clr-link);
  font-weight: 400;
  text-decoration: none;
}

a:not([class]):hover {
  color: var(--clr-link-active);
  border-bottom: 1px solid var(--clr-link-active);
}

a[class*='active'] {
  color: var(--clr-show-text);
}

a[class*='active']:hover {
  color: rgb(66, 153, 225);
  text-decoration: underline;
}

a.active {
  text-decoration: underline;
  pointer-events: none;
}
a.not-active {
  text-decoration: none;
}
a.post__header {
  color: var(--clr-text);
  text-decoration: none;
}
a.post__header:hover {
  text-decoration: underline;
}
.collapse {
  transform: translateY(-100%) translateZ(0) !important;
}
.expand {
  transform: none;
}

/* Typography */

/* Images */
p > img {
  max-width: 100%;
  width: fit-content;
  margin: auto;
  display: block;
}

/* source: https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/ */
/* Apply the filter directly on the body tag */
body.dark img {
  filter: brightness(0.8) contrast(1.2);
}

/* Or apply it via media query */
@media (prefers-color-scheme: dark) {
  img {
    filter: brightness(0.8) contrast(1.2);
  }
}
