/* VARIABLES */
:root {
  --clr-grey: #777;
  --clr-grey-lightest: #f8dada;

  --clr-green-light: #37af2c;
  --clr-green-dark: #1f8a15;

  --main-transition: all 0.1s linear;
  --light-shadow: 5px 7px 6px rgba(250, 251, 247, 0.6);
  --dark-shadow: 0 5px 20px rgba(17, 14, 14, 0.2);

  /* COLORS FOR MDX */
  --clr-grey-10: hsl(206, 33%, 96%);
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-violet-5: hsl(245, 62%, 45%);
  --clr-purple-lightest: hsl(245, 87%, 94%);
  --radius: 0.25rem;
  --clr-links: #1da7e7;

  --clr-header: #214;
}
body.light {
  --clr-text: #374151;
  --clr-bg: #fff;
  --clr-toggler-bg: #87ceeb;
  --clr-link-active: #000;
  --clr-show-text: rgb(74, 85, 104);
  --clr-link: darkorange;
  --inlineCode-text: #1a1a1a;
  --inlineCode-bg: rgba(255, 229, 100, 0.2);
}
body.dark {
  --clr-text: #eee;
  --clr-bg: #282c35;
  --clr-toggler-bg: #000;
  --clr-link-active: #ccc;
  --clr-show-text: #ddd;
  --clr-link: lightsalmon;
  --inlineCode-text: #e6e6e6;
  --inlineCode-bg: rgba(115, 124, 153, 0.2);
}

/* ************
  BASE
   *********** */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  /* font-size: 16px; (browser default)*/
  /* defines what 1rem is */
  /* font-size: 62.5%; */
  font-size: calc(15px + 0.25vw);
  font-style: normal;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-kerning: normal;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: var(--clr-bg);
  color: var(--clr-text);
  line-height: 1.5;
  font-size: 1.1rem;
  position: relative;
  font-weight: normal;
  transition: all 0.2s linear, color 0.3s ease, background-color 0.3s ease-in;
}

main {
  padding: 1vw 0 6rem 0;
  margin: 0 auto;
}

main:focus {
  outline: none;
}
.content-wrapper {
  max-height: 100%;
}

/* LISTS */
ol li,
ul li {
  margin-bottom: 0.6rem;
}

ol {
  list-style-type: decimal;
}

/* LINKS */
a {
  transition: color 0.2s ease;
}
a:not([class]) {
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.15s;
  color: var(--clr-link);
  border-bottom: 1px dotted var(--clr-link);
  font-weight: 400;
  text-decoration: none;
}

a:not([class]):hover {
  color: var(--clr-link-active);
  border-bottom: 1px solid var(--clr-link-active);
}

a[class*="active"] {
  color: var(--clr-show-text);
}

a[class*="active"]:hover {
  color: rgb(66, 153, 225);
  text-decoration: underline;
}

a.active {
  text-decoration: underline;
  pointer-events: none;
}
a.not-active {
  text-decoration: none;
}
a.post__header {
  color: var(--clr-text);
  text-decoration: none;
}
a.post__header:hover {
  text-decoration: underline;
}
.collapse {
  transform: translateY(-100%) translateZ(0) !important;
}
.expand {
  transform: none;
}

/* Images */
p > img {
  max-width: 100%;
  width: fit-content;
  margin: auto;
  display: block;
}
